export DEVELOPMENT_PATH=$HOME/Development

export LLPPATH=$DEVELOPMENT_PATH/llp-local
export GOPATH="$LLPPATH/applications/go";
export LLGOPATH="$GOPATH/src/github.com/leaflink";

# Lets you access your development binaries from your PATH
export PATH=$PATH:$GOPATH/bin

# Disable MacOS Catalina warning about bash vs zsh
export BASH_SILENCE_DEPRECATION_WARNING=1
